*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--text-color);
}

button,
a {
    transition: all var(--transition-normal);
    text-decoration: none;
}