*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--text-color);
}

button,
a {
    transition: all var(--transition-normal);
    text-decoration: none;
}

/* دکمه حالت شب */
#theme-toggle{
    width: 50px;
    height: 35px;
    font-size: 16px;
    background-color: #333;
    border-radius: 100%;
}

/* حالت شب */
body.dark-mode {
    background-color: #121212;
    color: #eee;
}

/* header///////////////////////////////////////// */
body.dark-mode .header a {
    color: #eee;
}

body.dark-mode #theme-toggle{
    background-color: #61c2d7;
}

body.dark-mode .header svg {
    color: #eee;
}

body.dark-mode .header .logo a {
    color: #ef394e;
}

body.dark-mode .header a:hover {
    color: #ef394e;
}

/* nav///////////////////////////////////////// */
body.dark-mode .main-nav {
    background-color: #333;
    color: #eee;
}

body.dark-mode .mega-menu {
    background-color: #333;
    color: #eee;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

body.dark-mode .menu-item:hover {
    color: var(--primary-color);
}

body.dark-mode .mega-column h4 {
    color: #eee;
}

body.dark-mode .mega-column li:hover {
    color: var(--primary-color);
}

body.dark-mode .main-nav li {
    color: #eee;
}

/* slider///////////////////////////////////////// */
body.dark-mode .slider-btn:hover {
    background-color: #333;
}

/* category///////////////////////////////////////// */
body.dark-mode .category-section {
    background-color: #333;
    color: #eee;
}

body.dark-mode .category-section p {
    color: #eee;
}

/* product///////////////////////////////////////// */
body.dark-mode .product-section {
    background-color: #121212;
    color: #eee;
}

body.dark-mode .section-title {
    color: #eee;
}

body.dark-mode .product-section select {
    background-color: #333;
    color: #eee;
}

body.dark-mode .product-section input {
    background-color: #333;
    color: #eee;
}

body.dark-mode .product-card {
    background-color: #1e1e1e;
    color: #eee;
}

body.dark-mode .product-card img{
    opacity: 50%;
}

body.dark-mode .product-card h3{
    color: #eee;
}

body.dark-mode .product-page {
    background-color: #121212;
}

body.dark-mode .product-options .option-btn {
    background-color: #333;
    color: #eee;
}

/* //////////////////////////////////////////// سبد خرید /////////////////////////////////////////////// */
body.dark-mode .cart-page {
    background-color: #333;
    color: #eee;
}

body.dark-mode .cart-page h2{
    color: #eee;
}

body.dark-mode .cart-item{
    background-color: #121212;
}

body.dark-mode .cart-summary{
    color: #eee;
}

body.dark-mode .cart-empty{
    color: #eee;
}

/* //////////////////////////////////////////// محصول /////////////////////////////////////////////// */
body.dark-mode .main-image{
    opacity: 50%;
}