/* ================= category section ================= */
.category-section {
    padding: 20px;
    background-color: #fff;
    overflow-x: auto;
    border-bottom: 1px solid var(--border-color);
}

.category-wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.category-card {
    flex: 0 0 70px;
    scroll-snap-align: start;
    text-align: center;
    cursor: pointer;
    transition: transform var(--transition-normal);
}

.category-card svg {
    stroke: var(--primary-color);
}

.category-card p {
    font-size: 12px;
    color: var(--text-color);
    margin-top: 4px;
}

.category-card:hover {
    transform: translateY(-5px);
}
