/* ================= footer ================= */

.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 150px 50px 150px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    transition: color var(--transition-normal);
}

.footer a:hover {
    color: var(--primary-color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #999;
}

/* شبکه‌های اجتماعی */
.social li {
    margin-right: 10px;
}

.social li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.social li a img {
    width: 24px;
    height: 24px;
}

.social li a:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    .footer-top {
        flex-direction: column;
        gap: 30px;
    }

    .footer-column h4,
    .footer-column ul li,
    .social li a {
        text-align: center;
        justify-content: center;
    }

    .social li a {
        display: block;
    }

    .social li a img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 15px 15px 15px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .social li a span {
        display: none;
    }
}
