/* ================= header ================= */
.header {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
}

.header-right,
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ================= mobile hamburger ================= */
/* همبرگر اولیه */
.mobile-menu-toggle {
    display: none;
    /* فقط موبایل */
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    z-index: 10000;
    /* بالاتر از منو */
}

.mobile-menu-toggle span {
    display: block;
    height: 3px;
    background: #ef394e;
    border-radius: 2px;
    transition: all 0.4s ease;
}

/* حالت فعال (cross) */
.mobile-menu-toggle.active span:nth-child(1) {
    transform: rotate(-225deg) translate(7px, -5px);
}

.mobile-menu-toggle.active span:nth-child(2) {
    opacity: 0;
    /* خط وسط محو می‌شود */
    transform: translateX(20px);
    /* به راست حرکت می‌کند */
}

.mobile-menu-toggle.active span:nth-child(3) {
    transform: rotate(225deg) translate(7px, 5px);
}

/* logo */
.logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}

/* ================= search ================= */
.search-box {
    display: flex;
    align-items: center;
    width: 450px;
    background-color: var(--bg-light);
    border-radius: var(--radius-md);
    padding: 0 10px;
}

.search-icon svg {
    color: var(--text-muted);
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}

.search-box input::placeholder {
    color: #999;
    font-size: 13px;
}

/* ================= login & cart ================= */
.login a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

.login a:hover {
    color: var(--primary-color);
}

/* ================= cart badge ================= */
.cart-container {
    position: relative;
    width: 28px;
    height: 28px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.cart-icon {
    width: 26px;
    height: 26px;
    color: var(--text-color);
}

.cart-container:hover .cart-icon {
    color: var(--primary-color);
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform var(--transition-fast);
}

.cart-count.pop {
    transform: scale(1.3);
}