/* ================= responsive general ================= */

/* ================= header ================= */
@media (max-width: 800px) {
    .search-box {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 7px 10px;
        gap: 7px;
    }

    .header-right,
    .header-left {
        gap: 5px;
        width: 100%;
        justify-content: space-between;
    }

    .search-box {
        width: 60%;
    }

    .cart-container {
        width: 24px;
        height: 24px;
    }

    .cart-icon {
        width: 22px;
        height: 22px;
    }
}

/* نمایش فقط در موبایل */
@media (max-width: 568px) {
    .mobile-menu-toggle {
        display: flex;
    }
}

/* لاگین */
@media (max-width: 380px) {
    .auth-container {
        margin: 0px;
        padding: 0px;
    }
}

/* main-nav موبایل */
@media (max-width: 568px) {
    .main-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        position: fixed;
        top: 60px;
        /* زیر header */
        right: -100%;
        /* مخفی سمت راست */
        width: 100%;
        padding: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        transition: right 0.4s ease;
        /* انیمیشن smooth */
    }

    .main-nav.active {
        right: 0;
        /* اسلاید داخل صفحه */
    }
}


/* ================= main nav ================= */
@media (max-width: 568px) {
    .main-nav {
        padding: 10px 15px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .mega-column h4 {
        font-size: 14px;
    }

    .mega-column li {
        font-size: 13px;
    }

    .mega-menu {
        right: 100px;
        top: 0;
    }
}

@media (max-width: 450px) {
    .mega-menu {
        flex-direction: column;
    }
}

/* ================= slider ================= */
@media (max-width: 480px) {
    .slider-wrapper {
        height: 250px;
    }

    .slide {
        height: 200px;
        width: 90%;
        top: 125px;
    }

    .slider-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .slider-btn:hover {
        background-color: #ef394e;
    }

    .slider-dots {
        bottom: 15px;
    }
}

/* ================= category section ================= */
@media (max-width: 480px) {
    .category-wrapper {
        gap: 8px;
    }

    .category-card {
        flex: 0 0 60px;
    }

    .category-card p {
        font-size: 11px;
    }
}

/* ================= product section ================= */

@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 15px;
    }

    .discount-badge {
        top: 5px;
        right: 5px;
        font-size: 10px;
        padding: 2px 4px;
    }
}

@media (max-width: 810px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .product-card {
        padding: 10px;
    }

    .product-card img {
        margin-bottom: 0;
    }

    .product-name,
    .product-price {
        /* opacity: 0; */
        font-size: 10px;
    }
}


@media (max-width: 450px) {
    .product-grid {
        display: flex;
        scroll-snap-align: start;
        gap: 0px;
    }

    .product-card {
        background: none;
    }

    .product-name,
    .product-price {
        font-size: 7px;
    }

    .add-to-cart {
        display: none;
    }

    .product-card img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
        .discount-badge {
        top: 5px;
        right: 5px;
        font-size: 10px;
        padding: 3px 1px;
        border-radius: 100%;
    }
}

@media (max-width: 700px) {
    .product-gallery {
        width: 60%;
    }

    .thumbnail-list img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 500px) {
    .product-wrapper {
        flex-direction: column;
        /* گالری بالا، جزئیات پایین */
    }

    .product-gallery {
        width: 100%;
        margin: 0 auto;
    }

    .thumbnail-list {
        margin: 0 auto;
        gap: 8px;
    }

    .thumbnail-list img {
        width: 60px;
        height: 60px;
    }

    .product-title {
        font-size: 25px;
    }
}

/* ================= cart page ================= */
@media (max-width: 480px) {
    .cart-page {
        padding: 10px;
        margin: 20px auto;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-actions {
        flex-wrap: wrap;
        gap: 5px;
    }
}

/* ================= footer ================= */
@media (max-width: 768px) {
    .footer {
        padding: 30px;

    }
}

@media (max-width: 500px) {
    .footer-top {
        flex-direction: column;
        gap: 20px;
    }

    .footer-column h4,
    .footer-column ul li,
    .social li a {
        text-align: center;
        justify-content: center;
    }

    .social li a {
        display: block;
    }

    .social li a img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 380px) {
    .footer {
        padding: 30px 15px 15px 15px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .social li a span {
        display: none;
    }
}