/* ================= slider ================= */

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
}

.slider-wrapper {
    position: relative;
    height: 350px;
}

/* ================= slides ================= */

.slide {
    position: absolute;
    top: 175px;
    left: 50%;
    width: 75%;
    height: 300px;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transition: all 0.5s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-lg);
}

/* active slide */
.slide.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
}

/* prev & next */
.slide.prev,
.slide.next {
    transform: translate(0%, -50%) scale(0.8);
    opacity: 0.3;
    z-index: 2;
}

/* ================= buttons ================= */

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    background-color: var(--primary-color);
    color: #fff;
    font-size: 24px;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    right: 10px;
}

.next {
    left: 10px;
}

/* ================= dots ================= */

.slider-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    display: flex;
    gap: 8px;
}

.slider-dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--primary-color);
    cursor: pointer;
}

.slider-dots .dot.active {
    background-color: var(--primary-color);
    border-color: #fff;
}
