/* متغیرها */
@import url("variables.css");

/* تنظیمات پایه */
@import url("base.css");

/* هدر و سبد خرید */
@import url("header.css");

/* منو و مگا منو */
@import url("nav.css");

/* اسلایدر */
@import url("slider.css");

/* دسته‌بندی‌ها */
@import url("category.css");

/* کارت محصولات */
@import url("product.css");

/* صفحه سبد خرید */
@import url("cart.css");

/* فوتر */
@import url("footer.css");

/* media queryها و ریسپانسیو */
@import url("responsive.css");

/* جزئیات محصول */
@import url("product-detail.css");

/* حالت شب */
@import url("dark-mode.css");

/* login */
@import url("login.css");