:root {
    /* colors */
    --primary-color: #ef394e;
    --text-color: #333;
    --text-muted: #777;
    --bg-light: #f1f2f4;
    --bg-gray: #f9f9f9;
    --border-color: #eee;

    /* font */
    --font-main: sans-serif;

    /* radius */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;

    /* transition */
    --transition-fast: 0.2s ease;
    --transition-normal: 0.25s ease;
}
